.check-color:checked + label:before {
    border-right: 2px solid green; /* You need to change the colour here */
    border-bottom: 2px solid green; /* And here */
}

th {
    background-color: #1B5E20;
    color: white;
    border-radius: 0px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.side-nav li>a>i.material-icons {
    margin-right: 10px !important;
}

.btn {
    background-color: #088A08;
    text-transform: none;
    letter-spacing: 0;
    margin-top: 10px;
    border-radius: 0;
    padding: 0 1rem;
}

.btn:hover, .btn:focus {
  background: #028423;
}

i.right {
    margin-left: 5px;
}

.fondoColorComplementario {
    background-color: #088A08;
}

.fondoColorComplementario:hover {
    background: #028423;
}

.letraBlanca {
    color: white !important;
}

.fixed-action-btn.toolbar ul li a {
    margin-top: 10px;
    line-height: normal;
}

input[type=email]:focus:not([readonly]), 
input[type=password]:focus:not([readonly]), 
input[type=text]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]){
  border-bottom: 1px solid #088A08;
  box-shadow: 0 1px 0 0 #088A08;
}

input[type=email]:focus:not([readonly])+label, 
input[type=password]:focus:not([readonly])+label, 
input[type=text]:focus:not([readonly])+label,
input[type=tel]:focus:not([readonly])+label{
    color: #088A08;
}

.input-field label:not(.label-icon).active {
    font-size: 1rem;
}