
.horas {
    margin-top: 40px;
   height: 630px;
   width: 100%;
  /* background-color: red;*/
   clear:both;
   display: none;
}


.botones-horas {
   
    background-color:#3bce21;
    margin-top: 17px;
    height: 120px;
    cursor: pointer;
    border-radius: 16px;
    text-align: center;
     box-shadow: 10px 10px 5px #888888;
    font-weight: bold;
}

.iconos{
  margin-top: 5px;
  color:white;
   
}

.datos {
    margin-top: 10px; 
    color:white;
}




.datepick-month-year {
    text-align-last:center;
    -webkit-appearance: none;
}

.datepick {
    width: 100% !important;
    border-radius: 0;
}

.outer {
    width: 100%;
}

.datepick-nav {
    height: 1.8rem;
}

.datepick-nav a,
.datepick-nav a:hover {
    background-color: #088A08;
}

.datepick th {
    background-color: #088a08;
}

.datepick, 
.datepick-month, 
.datepick-month-header {
    background-color: #088a08;
    border: none;
}

.datepick-month td {
    border-radius: 0;
}

.datepick-month table {
    margin-top: 1.95rem;
}

.datepick-month-header > select:first-child {
    height: 2rem;
    display: block;
    font-size: 1.5rem;
    background-color: #088a08;
}
