.collapsible-body {
    padding: 1rem;
}

.labelInfo {
    color: black;
    font-size: 14px;
}

.footer-resumen {
    background-color: #212121 !important;
}

.footer-resumen a {
    color: white;
    border-radius: 0;
    text-align: center;
}

#btnCancelar {
    border-left: 1px solid white;
}

.btn-centrado-modal {
    width: 50%;
    text-align: center;
}

/* #modalEliminarReto {
    max-height: 50%;
}*/

#ulNotas li {
    list-style-type: disc !important;
    margin-left: 16px;
}

#ulRetosDisponibles {
    margin-top: 0;   
    max-height: 82vh;
    overflow: auto;
}

#modalAceptarReto {
    min-height: 75vh !important;
}

#equipoRival {
    height: 35px;
}
