.botones-horas {
    background-color: #088a08;
    text-align: center;
}

.iconos{
  color:white;
}

.datos { 
    color:white;
}

.botones-horas > .row:first-child {
    margin-bottom: 0;
}


.datepick-month-year {
    text-align-last:center;
    -webkit-appearance: none;
}

.datepick {
    width: 100% !important;
    border-radius: 0;
}

.outer {
    width: 100%;
}

.datepick-nav {
    height: 1.8rem;
}

.datepick-nav a,
.datepick-nav a:hover {
    background-color: #088A08;
}

.datepick th {
    background-color: #088a08;
}

.datepick, 
.datepick-month, 
.datepick-month-header {
    background-color: #088a08;
    border: none;
}

.datepick-month td {
    border-radius: 0;
}

.datepick-month table {
    margin-top: 1.95rem;
}

.datepick-month-header > select:first-child {
    height: 2rem;
    display: block;
    font-size: 1.5rem;
    background-color: #088a08;
}

.horitas {
    background-color: #088a08;
}