.collapsible-body {
    padding: 1rem;
}

.labelInfo {
    color: black;
    font-size: 14px;
}

.btnEliminarReto {
    background-color: #088A08;
}

.footer-resumen {
    background-color: #212121 !important;
}

.footer-resumen a {
    color: white;
    border-radius: 0;
    width: 50%;
    text-align: center;
}

#btnCancelar {
    border-left: 1px solid white;
}

#modalEliminarReto {
    max-height: 50%;
}

.container {
    /*height: 90vh;*/
    /*overflow: auto;*/
}

#ulRetos {
    margin-top: 0;   
    max-height: 70vh;
    overflow: auto;
}

#ulRetosAceptados {
    margin-top: 0;   
    max-height: 70vh;
    overflow: auto;
}

.btnListaRetos {
    width: 50%;
    color: #1ab188;
    background-color: #424242;
    display: block;
    float: left;
    text-align: center;
    color: white;
    height: 36px;
    line-height: 36px;
}

.listaActiva {
    background-color: #088A08;}


#divBtnListasRetos {
    width: 100%;
    margin-top: 10px;
    height: 36px;
}

.listaHidde {
    display: none;
}